:root {
    --main-text-color: #F9FAF8;
    --secondary-text-color: #E5E7EB;
    --dark-background: #1F2937;
    --button-color: #3882F6;
}

/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

/* End Global Rules */

/* Start Container */

.container {
    margin: 0 auto;
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End Container */

/* Start Header */
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .links {
    display: flex;
    gap: 20px;
    list-style: none;
}

.header .links a {
    text-decoration: none;
}


/* End Header */